.shoppingCartSideBar{
    position: fixed;
    background-color: #f6f6f6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow-y: scroll;
    z-index: 2;
    height: 100vh;
    width: 350px;
    right: 0;
    top: 0;
    padding: 1.5vw;
    transform: translateX(350px);
    transition: transform 0.3s ease-in-out;
}

.products__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}

.empty__cart__text{
    display: flex;
    align-self: center;
    color: gray;
    padding-top: 35vh;
}

.button__container{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

.button__container button{
    border: none;
    background-color: transparent;
}

.purchase__button {
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    color: #F6F6F6;
    cursor: pointer;
    font-size: 35px;
    font-weight: 300;
    height: 70px;
    width: 100%;
    padding: 10px 16px;
    transition: all 0.1s ease-in-out;
}
  
.purchase__button:hover{
    background-color: #F6F6F6;
    color: var(--orange);
    border: solid 2px;
    transition: all 0.1s ease-in-out;
}