.container{
    display: flex;
    flex-direction: row;   
}

.content__container{
    margin: auto;
    padding: 60px 0;
}

.content__container h1{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 16px;
}
