.back{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 0 0 0.5rem ;
}

.productForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(193,227,255,1) 17%, rgba(171,199,255,1) 85%);
}

.productForm img{
    border: solid 2px;
    background-color: white;
    border-radius: 20px;
    width: 30%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.input input,
.input textarea,
.input select{
    width: 100%;
    padding: 1em;
    margin-top: 5px;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.input label{
    font-weight: 700;
}