.products{
    padding: 125px 0 60px 360px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.products h1{
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.emptyStock__text{
    font-size: 30px;
    font-weight: 400;
    padding-top: 41.5vh;
    color: #808080;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 941px;
}

@media (max-width: 1360px){
    .productsContainer{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width: 949px){
    .products{
        padding: 125px 0 60px 0;
    }
}

@media (max-width: 1030px){
    .productsContainer{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}
