@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Oxygen', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f6f6f6;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange : #f17806;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}