.productDetails{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    position: relative;
}

.overlay{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
}

.product__info{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 5rem 8vw;
    gap: 40px;
}

.product__info h1{
    font-size: 40px;
    font-weight: 400;
}

.product__info h2{
    color: #A9A9A9;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.product__info p{
    color: #808080;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 40px;
    line-height: 2.2rem;
}

.image__container{
    width: 54vw;
    height: 30vw;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%);
    overflow: hidden;
}

.image__container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.button {
    display: none;
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    color: #F6F6F6;
    cursor: pointer;
    font-size: 35px;
    font-weight: 300;
    height: 70px;
    width: 98.5%;
    padding: 10px 16px;
    transition: all 0.1s ease-in-out;
}
  
.button:hover{
    background-color: #F6F6F6;
    color: var(--orange);
    border: solid 2px;
    transition: all 0.1s ease-in-out;
}

@media (max-width: 1200px) {
    .product__info{
        width: 93vw;
    }

    .image__container{
        width: 75.6vw;
        height: 42vw;
    }

    .button {
        display: block;
    }
}

@media (max-width: 425px) {
    .product__info{
        gap: 20px;
    }
    .product__info h1{
        font-size: 30px;
    }

    .product__info h2{
        font-size: 15px;
    }

    .product__info p{
        font-size: 18px;
        padding-top: 0px;
        line-height: 1.8rem;
    }
}

